<p>Seja bem-vindo <%= @email %>!</p>

<p>Você pode confirmar seu e-mail da conta através do link abaixo:</p>

<p><%= link_to 'Confirmar minha conta', confirmation_url(@resource, confirmation_token: @token) %></p>
